@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  background-color: #69B99D;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pageContent {
  background-color: #FFFFFF;
  width: 1280px; /* Set the fixed width for the page content */
  display: flex;
  flex-direction: column;
  min-height: 720px;
  margin: 100px auto; /* Center the page content */
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  margin: 64px auto 0 auto; 
  width: 100%; /* Ensure header takes full width of pageContent */
  max-width: 1036px; /* Control the maximum width of the header content */
}

.navBar {
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  display: flex;
  gap: 48px;

  font-weight: 500;
  
}

.navBar a {
  text-decoration: none;
  color: #1F1534;
}

.mainHeaderText {
  font-size: 22px;
  color: #89C5CC;
  font-weight: bold;
}

.mainContainer {
  display: flex;
  flex: 1; /* Takes up remaining space to push footer down */
  color: black;
}


.mainTextContent {
  position: relative;
  text-align: left;
  width: 560px;
  height: 238px;
  margin: 80px 0 0 120px;
}

.h1TextContent {
  font-size: 48px;
  font-family: 'Mulish', sans-serif;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
  font-weight: 400;
  margin: 0;
}


.boldColor {
  color: #89C5CC;
}

.mainSubText {
  font-size: 16px;
  font-family: 'Open Sans';
  color: #7D7987;
  margin-top: 16px;
} 

.mainButton {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  background-color: #69B99D;
  border: none;
  padding: 14px 32px 15px 32px;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  margin-top: 48px;
  cursor: pointer;
}

.mainButton:hover {
  transition: all 50ms ease-in;
  transform: scale(1.1);
}

.mainButton:hover::after {
  transition: all 50ms ease-out;
}

.buttonText {
  font-size: 16px;
  font-weight: 600;
}

.imageContainer {
  margin: 0 120px 0 0;
}

.footerText {
  width: 529px;
  padding: 20px;
  text-align: center;
  margin: 0 auto 29px auto;
  position: relative; /* Ensure it stays within the flow of the document */
  left: 50%;
  transform: translateX(-110%);
}

.balls {
  position: absolute;
  left: 76.2%;
  top: 69.4%;
}